<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>stumanage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>signin_student.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>managersigninservlet</display-name>
    <servlet-name>managersigninservlet</servlet-name>
    <servlet-class>servlet.managersigninservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managersigninservlet</servlet-name>
    <url-pattern>/managersigninservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminmessage</display-name>
    <servlet-name>adminmessage</servlet-name>
    <servlet-class>servlet.adminmessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminmessage</servlet-name>
    <url-pattern>/adminmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerstu1</display-name>
    <servlet-name>managerstu1</servlet-name>
    <servlet-class>servlet.managerstu1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerstu1</servlet-name>
    <url-pattern>/managerstu1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerstu2</display-name>
    <servlet-name>managerstu2</servlet-name>
    <servlet-class>servlet.managerstu2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerstu2</servlet-name>
    <url-pattern>/managerstu2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerstu3</display-name>
    <servlet-name>managerstu3</servlet-name>
    <servlet-class>servlet.managerstu3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerstu3</servlet-name>
    <url-pattern>/managerstu3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerstudelete</display-name>
    <servlet-name>managerstudelete</servlet-name>
    <servlet-class>servlet.managerstudelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerstudelete</servlet-name>
    <url-pattern>/managerstudelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercou1</display-name>
    <servlet-name>managercou1</servlet-name>
    <servlet-class>servlet.managercou1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercou1</servlet-name>
    <url-pattern>/managercou1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercoudelete1</display-name>
    <servlet-name>managercoudelete1</servlet-name>
    <servlet-class>servlet.managercoudelete1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercoudelete1</servlet-name>
    <url-pattern>/managercoudelete1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercoumodify</display-name>
    <servlet-name>managercoumodify</servlet-name>
    <servlet-class>servlet.managercoumodify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercoumodify</servlet-name>
    <url-pattern>/managercoumodify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercou2</display-name>
    <servlet-name>managercou2</servlet-name>
    <servlet-class>servlet.managercou2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercou2</servlet-name>
    <url-pattern>/managercou2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercoudelete2</display-name>
    <servlet-name>managercoudelete2</servlet-name>
    <servlet-class>servlet.managercoudelete2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercoudelete2</servlet-name>
    <url-pattern>/managercoudelete2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercoumodify2</display-name>
    <servlet-name>managercoumodify2</servlet-name>
    <servlet-class>servlet.managercoumodify2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercoumodify2</servlet-name>
    <url-pattern>/managercoumodify2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managercouadd</display-name>
    <servlet-name>managercouadd</servlet-name>
    <servlet-class>servlet.managercouadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managercouadd</servlet-name>
    <url-pattern>/managercouadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageradd</display-name>
    <servlet-name>manageradd</servlet-name>
    <servlet-class>servlet.manageradd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageradd</servlet-name>
    <url-pattern>/manageradd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stusignin</display-name>
    <servlet-name>stusignin</servlet-name>
    <servlet-class>studentservlet.stusignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stusignin</servlet-name>
    <url-pattern>/stusignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentmymessage</display-name>
    <servlet-name>studentmymessage</servlet-name>
    <servlet-class>studentservlet.studentmymessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentmymessage</servlet-name>
    <url-pattern>/studentmymessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studenthasselected</display-name>
    <servlet-name>studenthasselected</servlet-name>
    <servlet-class>studentservlet.studenthasselected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studenthasselected</servlet-name>
    <url-pattern>/studenthasselected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentmycourse</display-name>
    <servlet-name>studentmycourse</servlet-name>
    <servlet-class>studentservlet.studentmycourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentmycourse</servlet-name>
    <url-pattern>/studentmycourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentdeletemycou</display-name>
    <servlet-name>studentdeletemycou</servlet-name>
    <servlet-class>studentservlet.studentdeletemycou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentdeletemycou</servlet-name>
    <url-pattern>/studentdeletemycou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentchoosecou</display-name>
    <servlet-name>studentchoosecou</servlet-name>
    <servlet-class>studentservlet.studentchoosecou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentchoosecou</servlet-name>
    <url-pattern>/studentchoosecou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentshowallcou</display-name>
    <servlet-name>studentshowallcou</servlet-name>
    <servlet-class>studentservlet.studentshowallcou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentshowallcou</servlet-name>
    <url-pattern>/studentshowallcou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentmodifymessage</display-name>
    <servlet-name>studentmodifymessage</servlet-name>
    <servlet-class>studentservlet.studentmodifymessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentmodifymessage</servlet-name>
    <url-pattern>/studentmodifymessage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>privilege</display-name>
    <filter-name>privilege</filter-name>
    <filter-class>filter.privilege</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>privilege</filter-name>
    <url-pattern>/studentwelcome.html</url-pattern>
    <url-pattern>/studentmodifymymessage.html</url-pattern>
    <url-pattern>/studentmycou.html</url-pattern>
    <url-pattern>/studentmymessage.html</url-pattern>
    <url-pattern>/studentselectcou.html</url-pattern>
    <url-pattern>/studentwelcome.html</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>managerfilter</display-name>
    <filter-name>managerfilter</filter-name>
    <filter-class>filter.managerfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>managerfilter</filter-name>
    <url-pattern>/manageradd.html</url-pattern>
    <url-pattern>/manageradmin.html</url-pattern>
    <url-pattern>/managercou.html</url-pattern>
    <url-pattern>/managerstu.html</url-pattern>
    <url-pattern>/managerwelcome.html</url-pattern>
  </filter-mapping>
</web-app>